{% extends 'layout.njk' %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}

    <p class="govuk-body">
        Check out the
        <a href="https://design-system.service.gov.uk/" class="govuk-link govuk-link--no-visited-state">
            GOV.UK Design System documentation
        </a>
        for information on how to design web application that fall under the GOV.UK domain.
    </p>

{% endblock %}
