{% extends 'layout.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}


{% block content %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  {% set companyList = [] %}
  {% for company in companies %}
    {% set companyList = companyList.concat([[
      {
        text: company.type 
      },
      { 
        text: company.registrationNumber 
      },
      { 
        text: company.companyName 
      },
      { 
        html: company.registeredAddress | safe
      },
      { 
        text: "Active" if not company.isActive
      },
      { 
        text: company.incorporatedOn 
      },
      {
        html: "<a href=\"/companies/edit/"+company.registrationNumber+"\">⚙️</a>"
      },
      { 
        html: "<a href=\"/companies/delete/"+company.registrationNumber+"\">🔪📁☠️</a>" 
      }
    ]]) %}
  {% endfor %}
  
    
{% if companyList.length > 0 %}
{{ govukTable({
  caption: "Companies",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Type"
    },
    {
      text: "Number"
    },
    {
      text: "Company Name"
    },
    {
      text: "Address"
    },
    {
        text: "Active"
    },
    {
        text: "Incorporated On"
    },
    {
        text: "Edit"
    },
    {
        text:"Delete"
    }
  ],
  rows: companyList
}) }}
{% else %}
  <p class="govuk-body">No companies found. Please <a href="/register">add a company </a> to see it listed here.</p>
  {% endif %}

  <p class="govuk-body">
    Check out the GOV.UK Design System
    <a href="https://design-system.service.gov.uk/styles/images/" class="govuk-link govuk-link--no-visited-state">
      guidelines on images
    </a>
    for more information.
  </p>

{% endblock %}